<div class="container">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 well">
<%= simple_form_for(@clinic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :fax %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-warning" %>
  </div>
 <br>
  <%= link_to fa_icon('arrow-left ', text: "back"), clinics_path %> | <%= link_to fa_icon('eye', text: "view"),  @clinic  %>
  </div>
<% end %>
</div>
<div class="col-sm-2"></div>
</div>
</div>

