<div class="container">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 well">
<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :dob, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %>
    <%= f.association :breed, collection: Breed.order(:name) %>

    <%= f.input :medical_conditions %>
    <%= f.input :in_daycare %>
    <!-- in rails/ruby this is f.fields_for - look up this -->
    <%= f.simple_fields_for(:custodies) do |custody_fields| %>
      <%= custody_fields.association :owner, collection: Owner.order(:last_name, :first_name) %>
      <%# Only show the destroy checkbox if a record is already saved %>
      <% if custody_fields.object.persisted? %>
        <%= custody_fields.input :_destroy, as: :boolean %>
      <% end %>
    <% end %>
    <%= f.association :vet, collection: Vet.order(:doctor), label_method: :vet_clinic %>

     <%= f.input :avatar, as: :file, label: "Upload a New Pup Image" %>
    <% if @dog.avatar.exists? %>
      <%= label_tag "Current Image" %>
      <p><%= image_tag @dog.avatar.url(:thumb) %></p>
      <br>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-warning"%>
  </div>
  <div>
  <br>
  <%= link_to fa_icon('arrow-left ', text: "back"), dogs_path %> | <%= link_to fa_icon('eye', text: "view"), @dog %>
  </div>
<% end %>
</div>
<div class="col-sm-2"></div>
</div>
</div>

