<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 well">

<h2>Dog Info</h2>
<p>
  <strong>Name:</strong> <%= @dog.name %>

</p>

<p>
  <strong>DOB:</strong>
  <%= @dog.dob %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed.name %>
</p>

<p>
  <strong>Medical conditions:</strong>
  <%= @dog.medical_conditions %>
</p>

<p>
  <strong>In daycare:</strong>
  <%= @dog.in_daycare %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog.vet.doctor %>
</p>

<%= link_to fa_icon('pencil', text:"edit"), edit_dog_path(@dog) %> |
<%= link_to fa_icon('arrow-left', text:"back"), dogs_path %>
</div>
<div class="col-sm-2"></div>
</div>
</div>

